body { 
    background: #f2f2f2;
    color: black;
}
:root{
    --blur: 5px;
}
.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }
.btn{
    margin:3px;
}
.input-ui{
     margin-top: 40px;
     text-align: center;
 }
/* Gif buttons */
#buttons-for-gifs {
    margin: 10px 10px 10px 10px;
    background-color:Transparent;
    background-repeat:no-repeat;
    border: none;
    overflow: hidden; 
}
#addNewButton{
    vertical-align: baseline;
}
button:focus {
    text-decoration: none;
    outline:none;
    border: none;
    box-shadow: none;
}
button:hover{
    cursor:pointer;
    overflow: hidden;
}
/* Gifs */
#gifs-appear-here{
    text-align: center;
}
.card-img-top{
    width: 200px;
    height: 200px;;
    border-radius: 60%;
    
}
.hl{
    filter: blur(var(--blur))
}
img:hover{
    cursor: pointer;
    background-color: aliceblue;
}
.card-footer p {
    color: black;
    padding: 0;
    margin: 0;  
}
.card{
    width: 200px;
    height: 200px;
    margin: 30px;
    background-color:rgba(255,255,255,0.0);
    border: none;
    display: inline-block;
}