
body {
    background: url(../images/Aladdin-Bread.jpg) no-repeat center center fixed; 
    background-size: cover;
    height: 100%;
    overflow-x: hidden;
    text-align: center;
}

/* input fild */
.input-group{
    margin-top: 2%;
    margin-left: 40%;
    margin-right: 40%;
}
.input-group button{
    color: white;
    border: none;
    font-size: 20px;
    background-color:Transparent;
    background-repeat:no-repeat;
    border: none;
    overflow: hidden; 
}

/* Gif buttons */
#buttons-for-gifs {
    margin-top: 5%;
    text-align: center;
    background-color:Transparent;
    background-repeat:no-repeat;
    border: none;
    overflow: hidden; 
}
#buttons-for-gifs button {
    background-color:Transparent;
    border: none;
    overflow: hidden; 
    font-size: 20px;
    color: white;
}
button:focus {
    text-decoration: none;
    outline:none;
    border: none;
    box-shadow: none;
  }
  button:hover{
    cursor:pointer;
    overflow: hidden;
}

/* Gifs */

#gifs-appear-here{
    text-align: center;
}

.card-img-top{
    width: 200px;
    height: 200px;;
    border-radius: 60%;
}
img:hover{
    cursor: pointer;
    background-color: aliceblue;
}
.card-img-top:hover{
   animation: stpo;
   background-color: aliceblue;
}
.card-footer{
    padding: 0;
    background-color:rgba(255,255,255,0.4); 
}
.card-footer p {
    color: black;
    padding: 0;
    margin: 0;  
}
.card{
    width: 200px;
    height: 200px;
    margin: 30px;
    background-color:rgba(255,255,255,0.1);
    display: inline-block;
}